# Logs and OS files
*.log
*.sh
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
.history/

# Obsidian
draft/
.obsidian/
.copilot/

# Hugo build output
public/
#resources/_gen/
#hugo_stats.json
.hugo_build.lock

# Env files
.env
.env.*

# Backup files
*~

# Ignore Smart Environment folder
.smart-env
