# Logs and OS files
*.log
*.sh
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
.history/

# Obsidian
.obsidian/
.copilot/

# Hugo build output
public/
resources/_gen/
node_modules/
#hugo_stats.json
.hugo_build.lock

# draft
draft/
content/series/

# Env files
.env
.env.*

# Backup files
*~

# Ignore Smart Environment folder
.smart-env
